<h1>Sessions#create</h1>

<hr>
<%#= @auth.inspect %>
<% @result.data["items"].each do |event| %>
	<% if (event["summary"] == "appty") %>
		Summary: <%= event["summary"] %><br>
		Provider: <%= event["creator"]["displayName"] %><br>
		Start: <%= event["start"]["dateTime"] %><br>
		End: <%= event["end"]["dateTime"] %><br>
		<hr>
	<% else %>
	<% end %>
<% end %>

<!-- <pre><%#= debug @result.data %><pre> -->



