<div id="wrap">
	<div class="row" id="signin">
		<div id="head" class="text-center">
			<img src="<%= asset_path( 'Logo.png' ) %>" id="start_logo">
		</div>
		
	<div class="row" id="signin">
	 		<div id="sign_button" class="ui google button teal col-xs-10 navbar-fixed-bottom">
	  			<i class="google icon"></i>
				<%= link_to "Sign In with Google", "/auth/google_oauth2"%>
			</div>
	</div>		
</div>