/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "semantic-ui";
@import "semantic-ui/collections/menu";

html {
	font-family: "futura-pt";

}

body {
	padding-bottom: 20em;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efefef+0,dbdbdb+100 */
	background: #efefef; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #efefef 0%, #dbdbdb 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#efefef), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #efefef 0%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #efefef 0%,#dbdbdb 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #efefef 0%,#dbdbdb 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #efefef 0%,#dbdbdb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#dbdbdb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.container-fluid {
	max-width: 50em;
	margin: 0 auto;
}

#nav-contain {
	max-width: 80em;
	margin: 0 auto;
}

.navbar-default {	
	font-size: 1.25em;
	background-color: rgba(255,255,255,.85);
	border: none;
}

.navbar-toggle {
	margin: 0;
	border: none;
}

#hamburger{
	display: inline-block;
	width: .25em;
	margin: .5em .75em 0 0;
	line-height: 0;
	color: rgba(0,0,0,.5);
}

#tab{
	margin-top: .75em;
}

#signin {
	background-color: rgba(0,0,0,0);
}

#wrap{
	height: 100vh;
}

.row {
	background-color: white;
	padding: .5em 0;
	margin: .25em -1em 0;

}

#profileID {
	background-color: rgba(0,0,0,0);
}

#head{
	margin: 30vh 0;
}

#start_logo {
	width:80%;
	max-width: 30em;
}

#sign_button {
	left: 0;
	max-width: 40em;
	bottom: 2em;
	margin: 0 auto;
	background-color: black;
	font-size: 1.5em;
}

a {
	color:rgb(39,209,183);
}

a:visited {
	color:rgb(39,209,183);
	background-color:rgba(0,0,0,0);
	text-decoration:none;
}

#signin a:visited {
	color:white;
	background-color:rgba(0,0,0,0);
	text-decoration:none;
}

#signin a:hover {
	color: rgb(39,209,183);
	background-color:rgba(0,0,0,0);
	text-decoration:none;
}

a:hover {
	color:rgb(15,255,218);
	background-color:rgba(0,0,0,0);
	text-decoration:none;
}





p {
	color: rgba(0,0,0,.5);
}

#nav_logo {
	height:1.5em;
	padding: 0;
}

.alert-info {
  background-color: rgba(39,209,183,.35);
  border-color: rgba(39,209,183,.8);
  color: #666666;
}

#prof_pic {
	border-radius: 35px;
	border: 2px solid rgba(0,0,0,0.1);
}

.glyphicon-plus {
	font-size: 1.75em;
	line-height: 0;
}

#label {
	font-size: .75em;
	color: rgba(0,0,0,.5);
}

#tagIcon {
	margin: -2em 0 0;
}

#tagIconPro {
	margin: -.5em 0;
	font-size: 1.5em;
}

#tagIconIndex {
	margin: -.75em 0;
}

.findPro {
	margin-top: 1em;
}




