/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "semantic-ui";
@import "semantic-ui/collections/menu";

body {
	background-color: white;
}

.container-fluid {
	max-width: 50em;
	margin: 0 auto;
}

#nav-contain {
	max-width: 80em;
	margin: 0 auto;
}

.bottom-nav {
	border-top: rgba(240,240,240, .8) solid 1px;
	font-size: 1.25em;
	color: rgba(240,240,240, .8); 
}

.navbar-toggle {
	margin: 0;
	border: none;
}

.glyphicon-menu-hamburger {
	font-size: 1.5em;
	top: .5em;
	line-height: 0;
	color: rgba(0,0,0,.5);
}

#wrap{
	height: 100vh;
}

.row{
	background-color: white;
	padding: .5em 0;
	margin: .5em -1em;

}

#profileID {
	background-color: rgba(0,0,0,0);
}

#head{
	margin: 30vh 0;
}

#start_logo {
	width:80%;
	max-width: 30em;
}

#sign_button {
	left: 0;
	max-width: 40em;
	bottom: 2em;
	margin: 0 auto;
	background-color: black;
	font-size: 1.5em;
}

a {
	color:rgb(39,209,183);
}

a:hover {
	color:rgb(15,255,218);
	background-color:rgba(0,0,0,0);
	text-decoration:none;
}

#nav_logo {
	height:1.5em;
	padding: 0;
}

.alert-info {
  background-color: rgba(39,209,183,.5);
  border-color: rgba(39,209,183,.8);
  color: #666666;
}

#prof_pic {
	border-radius: 25px;
}
