
  <h1>You are booked with:</h1>


    <% if @appointment.start_time.future? %> 
      <h3><%= @appointment.event_creator.titleize %></h3>
      <p>On: <%= @appointment.start_time.strftime("%A, %B %-d at %l:%M %p")%> </p>
       <p>At:   <%= @appointment.end_time.strftime("to %l:%M %p") %></p>
       <h3><i class = 'glyphicon glyphicon-ok'></i></h3>
      <hr>
      <%end%>

