<!DOCTYPE html>
<html>
<head>
  <title>Appty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <li><a href="/">Home</a></li>
        <% if session['auth'] %>
        <li><a href="/sessions/show">Profile</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        <% else %>
        <li><a href="/auth/facebook">Login via Facebook</a></li>
        <li><a href="/auth/google">Login via google </a></li>

        <% end %>





<%= yield %>

<hr>
<%#= @auth.inspect %>


<pre><%#= debug @result.data %><pre>
<hr>





</body>
</html>
